@import "../../../styles.scss";
@import "../../../mixins.scss";

.wrapper {
  @include dFlex($jc: space-between);
  height: 96px;
  padding-left: 116px;
  padding-right: 40px;
  background-color: $whitewhite;
  box-shadow: 0 4px 10px rgba(22, 12, 12, 0.1);
  > p {
    @include fontSize();
  }
  > div {
    @include dFlex();
    gap: 16px;
  }
}

.help-icon-warpper {
  width: 30px;
  height: 30px;
  background-image: url(/img/header/header_help.svg);
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    background-image: url(/img/header/header_help_hover.svg);
    cursor: pointer;
  }
}

.logged-user-monogram {
  width: 56px;
  height: 56px;
  border: 3px solid $navbarBlue;
  border-radius: 100%;
  @include dFlex();
  > p {
    color: $lightBlue;
    @include fontSize($weight: 600);
  }
  &:hover {
    background-color: rgba(12, 46, 98, 0.12);
    cursor: pointer;
  }
}
