@import "../../../styles.scss";

.wrapper {
  height: 96px;
  max-width: 1440px;
  padding-left: 116px;
  padding-right: 40px;
  background-color: $whitewhite;
  box-shadow: 0 4px 10px rgba(22, 12, 12, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  > p {
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
  }
  > div {
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

p {
  font-family: "Inter";
}

.help-icon-warpper {
  width: 30px;
  height: 30px;
  background-image: url(/img/header_help.svg);
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    background-image: url(/img/header_help_hover.svg);
    cursor: pointer;
  }
}

.logged-user-monogram {
  width: 56px;
  height: 56px;
  border: 3px solid $navbarBlue;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  > p {
    color: $lightBlue;
    font-size: 20px;
    font-weight: 600;
  }
}
