<section class="summary-wrapper">
  <div class="summary-head-container">
    <h1 class="font-inter">Join 360</h1>
    <div class="seperator"></div>
    <h4 class="font-inter">Key Metrics at a Glance</h4>
  </div>

  <div class="content-wrapper">
    <div>
      <div class="first-wrapper">
        <mat-card>
          <img src="/img/summary/to-do.svg" alt="">
          <div>
            <mat-card-title class="font-inter"></mat-card-title>
            <mat-card-subtitle class="font-inter">To-do</mat-card-subtitle>
          </div>
        </mat-card>
        <mat-card>
          <img src="/img/summary/done.svg" alt="">
          <div>
            <mat-card-title class="font-inter"></mat-card-title>
            <mat-card-subtitle class="font-inter">Done</mat-card-subtitle>
          </div>
        </mat-card>
      </div>

      <div class="second-wrapper">
        <mat-card>
          <div>
            <img src="" alt="">
            <div>
              <mat-card-title class="font-inter"></mat-card-title>
              <mat-card-subtitle class="font-inter">Card Status</mat-card-subtitle>
            </div>
          </div>
          <div class="seperator"></div>
          <div class="deadline-container">
            <mat-card-title class="font-inter">Deadline</mat-card-title>
            <mat-card-subtitle class="font-inter">Upcoming Deadline</mat-card-subtitle>
          </div>
        </mat-card>
      </div>

      <div class="third-wrapper">
        <mat-card>
          <mat-card-title class="font-inter"></mat-card-title>
          <mat-card-subtitle class="font-inter">Tasks in <br>Board</mat-card-subtitle>
        </mat-card>
        <mat-card>
          <mat-card-title class="font-inter"></mat-card-title>
          <mat-card-subtitle class="font-inter">Tasks in <br>Progress</mat-card-subtitle>
        </mat-card>
        <mat-card>
          <mat-card-title class="font-inter"></mat-card-title>
          <mat-card-subtitle class="font-inter">Awaiting <br>Feedback</mat-card-subtitle>
        </mat-card>
      </div>
    </div>

    <div class="greetings-container">
      <span class="greeting font-inter">{{ greeting }}</span>
      <span class="initials font-inter">{{ initials }}</span>
    </div>
  </div>
</section>