@import "../../../styles.scss";
@import "../../../mixins.scss";

.navbar-wrapper {
  @include dFlex($fd: column, $jc: space-between, $ai: normal);
  box-sizing: border-box;
  width: 232px;
  height: 100vh;
  background-color: $navbarBlue;
  padding: 64px 0;
}

p {
  @include fontSize($size: 16px);
  color: $fontgrey
}

.navbar-logo {
  @include dFlex();
  >img {
    width: 100px;
    height: 122px;
  }
  &:hover {
    cursor: pointer;
  }
}

.navigate {
  @include dFlex($jc: unset);
  box-sizing: border-box;
  width: 100%;
  height: 46px;
  padding-left: 56px;
  gap: 8px;
  &:hover {
    cursor: pointer;
    background-color: $hoverBlue;
    >p {
      color: $whitewhite;
    }
    color: $whitewhite;
    >.summary{
      background-image: url(/img/navbar/nav_summary_hover.svg);
    }
    >.add-task {
      background-image: url(/img/navbar/nav_addTask_hover.svg);
    }
    >.board {
      background-image: url(/img/navbar/nav_board_hover.svg);
    }
    >.contacts {
      background-image: url(/img/navbar/nav_contacts_hover.svg);
    }
  }

}

.navbar-main {
  gap: 16px;
}

.icon-wrapper {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center;
}

.summary {
  background-image: url(/img/navbar/nav_summary.svg);
}

.add-task {
  background-image: url(/img/navbar/nav_addTask.svg);
}

.board {
  background-image: url(/img/navbar/nav_board.svg);
}

.contacts {
  background-image: url(/img/navbar/nav_contacts.svg);
}



