@import "../../../styles.scss";
@import "../../../mixins.scss";

.dialog-wrapper {
  display: flex;
  height: 100%;
}

.left-side {
  background-color: $navbarBlue;
  width: 467px;
  height: 100%;
}

.right-side {
  @include dFlex();
  gap: 72px;
  padding: 137px 48px 135px 83px;
}

.close-dialog-icon-wrapper {
  position: absolute;
  top: 48px;
  right: 48px;
  width: 32px;
  height: 32px;
  @include backgroundPicture($url: '/img/contacts/cancel_add_contact_icon.svg');
  &:hover {
    border-radius: 100%;
    background-color: $borderGrey;
    cursor: pointer;
  }
}

.icon-wrapper {
  width: 120px;
  height: 120px;
  background-position: center;
  background-size: contain;
  background-image: url("/img/contacts/new_contact_mongram.svg");
}

form {
  @include dFlex($fd: column);
}

input {
  box-sizing: border-box;
  width: 422px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding: 13px 21px;
}

.validate-msg-placeholder {
  box-sizing: border-box;
  @include dFlex($ai: start);
  height: 32px;
  width: 422px;
  > p {
    color: $errMsgRed;
    font-family: "Inter";
    @include fontSize($size: 16px);
  }
}

.hint {
  color: black !important;
}

.button-wrapper {
  margin-top: 32px;
  @include dFlex();
  gap: 24px;
}

.close-btn {
  gap: 4px;
  box-sizing: border-box;
  width: 126px;
  height: 56px;
  @include dFlex();
  padding: 16px;
  border: 1px solid $navbarBlue;
  border-radius: 10px;
  > p {
    font-family: "Inter";
    @include fontSize();
  }
  > div {
    width: 24px;
    height: 24px;
    background-image: url("/img/contacts/cancel_add_contact_icon.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &:hover {
    cursor: pointer;
    color: $lightBlue;
    border: 2px solid $lightBlue;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    > div {
      background-image: url("/img/contacts/cancel_add_contact_icon_hover.svg");
    }
  }
}

.create-contact-btn {
  border: none;
  @include dFlex();
  gap: 4px;
  box-sizing: border-box;
  width: 214px;
  height: 56px;
  background-color: $navbarBlue;
  border-radius: 10px;
  > p {
    font-family: "Inter";
    color: $whitewhite;
    @include fontSize($size: 21px, $weight: 700);
  }
  > div {
    width: 24px;
    height: 24px;
    @include backgroundPicture($url: "/img/contacts/check.svg");
  }
  &:hover {
    cursor: pointer;
    background-color: $lightBlue;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.create-contact-btn-invalid {
  border: none;
  @include dFlex();
  gap: 4px;
  box-sizing: border-box;
  width: 214px;
  height: 56px;
  background-color: grey;
  border-radius: 10px;
  > p {
    font-family: "Inter";
    color: $whitewhite;
    @include fontSize($size: 21px, $weight: 700);
  }
  > div {
    width: 24px;
    height: 24px;
    @include backgroundPicture($url: "/img/contacts/check.svg");
  }
}
