<section class="dialog-wrapper">
  <div class="left-side">
    <div class="join-logo-wrapper"></div>
    <p>Add contact</p>
    <p>Tasks are better with a team!</p>
    <div class="seperator"></div>
  </div>

  <div class="right-side">
    <div class="close-dialog-icon-wrapper" (click)="closeDialog()"></div>
    <div class="icon-wrapper"></div>
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <input id="name" type="text" formControlName="name" placeholder="Name" />
      <div class="validate-msg-placeholder">
        <p
          *ngIf="
            profileForm.get('name')?.invalid && profileForm.get('name')?.touched
          "
        >
          Please enter a name
        </p>
      </div>

      <input
        id="email"
        type="text"
        formControlName="email"
        placeholder="Email"
      />
      <div class="validate-msg-placeholder">
        <p
          *ngIf="
            profileForm.get('email')?.invalid &&
            profileForm.get('email')?.touched
          "
        >
          Please enter a valid email.
        </p>
      </div>

      <input id="phone" type="text" placeholder="Phone" />
      <div class="validate-msg-placeholder"></div>

      <!-- <div class="validate-msg-placeholder">
        <p *ngIf="!profileForm.valid" class="hint">
          Please enter Name und Email
        </p>
      </div> -->

      <div class="button-wrapper">
        <div class="close-btn" (click)="closeDialog()">
          <p>Cancel</p>
          <div></div>
        </div>
        <button
          [ngClass]="
            profileForm.valid
              ? 'create-contact-btn'
              : 'create-contact-btn-invalid'
          "
          type="submit"
          [disabled]="!profileForm.valid"
        >
          <p>Create Contact</p>
          <div></div>
        </button>
      </div>
    </form>
  </div>
</section>
